<div class="menu-section" id="menu-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 offset-md-3">
        <h2 class="h2-dark menu-section-title">CREPES</h2>
      </div>
    </div>
  </div>

  <div class="container menu-collection">
    <div class="row">
      <% products.each do |product| %>
        <div class="col-12 col-md-6 col-lg-4 menu-item">
          <div class="row">
            <div class="col-9">
              <h4 class="menu-item-title"> <%= product.name %> </h4>
            </div>
            <div class="col-3">
              <h4 class="menu-item-price"><%= number_to_currency(product.price) %></h4>
            </div>
            <div class="col-12">
              <p class="menu-item-description"><%= product.long_description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
