<div class="menu-section" id="menu-section">

  <!-- <div class="container d-flex h-100 justify-content-center">
    <div class="row align-self-center text-center">
        <h2 class="display-3">EGG SPECIALTIES</h2>
    </div>
  </div> -->
  <div class="container">
    <div class="row text-center">
      <div class="col-3">

      </div>
      <div class="col-6">
        <h2 class="h2-dark menu-section-title">EGG SPECIALTIES</h2>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>

  <div class="container menu-collection">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Corned Beef Hash</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">10.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Our homemade hash, a blend of kosher corned beef, potatoes, and onions. Served with two eggs, any style and five potato pancakes.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Bacon and Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Four thick slices of hickory smoked bacon and two large fresh eggs, any style.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Sausage and Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.25</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Our special recipe patty sausage and two large fresh eggs, any style.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Links and Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Our special recipe link sausage and two large fresh eggs, any style.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Canadian Bacon and Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Four thick slices of sugar cured, hickory smoked Canadian bacon and two large fresh eggs, any style.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Ham and Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">A thick slice of sugar cured, hickory smoked ham and two large fresh eggs, any style.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Minced Ham and Scrambled Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three eggs lightly scrambled with diced sugar cured, hickory smoked ham.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Hash Browns and Eggs</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Hash browns and two large fresh eggs, any style.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
