<div class="menu-section" id="menu-section">

  <!-- <div class="container d-flex h-100 justify-content-center">
    <div class="row align-self-center text-center">
        <h2 class="display-3">FOR THE KIDS</h2>
    </div>
  </div> -->
  <div class="container">
    <div class="row text-center">
      <div class="col-md-6 offset-md-3">
        <h2 class="h2-dark menu-section-title">FOR THE KIDS</h2>
      </div>
    </div>
  </div>

  <div class="container menu-collection">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Golden Bear’s Breakfast</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">7.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three buttermilk pancakes with your choice of two strips of bacon, two link sausages, one patty sausage or one egg any style. Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Dollar Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">4.75</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Six dollar-sized pancakes.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Dollar Chocolate Chip Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">5.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Six dollar-sized chocolate chip pancakes.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Jones Pigs in a Blanket</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">5.75</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Two delicious buttermilk pancakes and link sausages.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
