<section class="menu-title", id="menu-title">

  <div class="menu-image">
    <div class="container d-flex h-100 justify-content-center">
      <div class="row align-self-center text-center">
        <h1 class="title-text">OUR MENU</h1>
      </div>
    </div>
  </div>

</section>
