<div class="menu-section" id="menu-section">

  <!-- <div class="container d-flex h-100 justify-content-center">
    <div class="row align-self-center text-center">
        <h2 class="display-3">OVEN BAKED OMELETTES</h2>
    </div>
  </div> -->

  <div class="container">
    <div class="row text-center">
      <div class="col">
        <p class="menu-line"></p>
      </div>
      <div class="col-7">
        <h2 class="display-3">OVEN-BAKED OMELETTES</h2>
      </div>
      <div class="col">
        <p class="menu-line"></p>
      </div>
    </div>
  </div>

  <div class="container menu-collection">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckeye Crepes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$9.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Three delicate crepes filled with Nutella® , topped with toasted hazelnuts, Hershey’s® syrup and lightly dusted with powdered sugar.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
