<div class="menu-section" id="menu-section">

  <!-- <div class="container d-flex h-100 justify-content-center">
    <div class="row align-self-center text-center">
        <h2 class="display-3">PANCAKES</h2>
    </div>
  </div> -->
  <div class="container">
    <div class="row text-center">
      <div class="col-3">

      </div>
      <div class="col-6">
        <h2 class="menu-line">PANCAKES</h2>
      </div>
      <div class="col-3">

      </div>
    </div>
  </div>

  <div class="container menu-collection">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buttermilk Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$7.25</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Chocolate Chip Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.25</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Buttermilk pancakes filled and topped with mini chocolate chips. Dusted with powdered sugar and served with pure whipped cream made fresh with Supreme Pure Vanilla from Lyons®.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Georgia Pecan Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.75</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Filled and topped with hot toasted pecans. Dusted with powdered sugar and served with pure whipped cream made fresh with Supreme Pure Vanilla from Lyons®.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Blueberry Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Pancakes fillled with blueberries and dusted with powdered sugar. Served with whipped butter and blueberry compote.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Banana Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$7.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Pancakes filled with diced bananas and dusted with powdered sugar. Served with whipped butter and hot tropical syrup.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Potato Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Served with sour cream or cinnamon applesauce.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Swedish Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Authentic lacy Swedish pancakes served with lingonberries from Sweden.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Sourdough Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">The favorite of the Klondike gold rush! Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Bacon Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Pancakes with real bits of our hickory bacon. Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">49er Flapjacks</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.75</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">From the Mother Lode country. Plate sized, chewy tender  apjacks served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Dollar Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$7.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Twelve delicious silver dollar pancakes. Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Buckwheat Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$7.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Coconut Pancakes</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Filled and topped with toasted coconut. Dusted with powdered sugar. Served with whipped butter and hot tropical syrup.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">2 x 4</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.95</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Four buttermilk pancakes and two eggs, any style. Served with whipped butter.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Three Little Pigs in a Blanket</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.50</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Our special links wrapped in light buttermilk pancakes and dusted with powdered sugar. Served with whipped butter and hot tropical syrup.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Sourdough French Toast</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">$8.25</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Golden brown, light and fluffy. Dusted with powdered sugar. Served with whipped butter and preserves.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
