<div class="menu-section" id="menu-section">

  <!-- <div class="container d-flex h-100 justify-content-center">
    <div class="row align-self-center text-center">
        <h2 class="display-3">SPECIALTIES OF THE HOUSE</h2>
    </div>
  </div> -->
  <div class="container">
    <div class="row text-center">

      <div class="col-md-6 offset-md-3">
        <h2 class="h2-dark menu-section-title">SPECIALTIES OF THE HOUSE</h2>
      </div>
    </div>
  </div>

  <div class="container menu-collection">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Dutch Baby</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">10.75</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Oven baked served with fresh lemons, whipped butter and powdered sugar.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 menu-item">
        <div class="row">
          <div class="col-9">
            <h4 class="menu-item-title">Apple Pancake</h4>
          </div>
          <div class="col-3">
            <h4 class="menu-item-price">11.25</h4>
          </div>
          <div class="col-12">
            <p class="menu-item-description">Oven baked with fresh Granny Smith apples and Sinkiang cinnamon glaze.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
