<section class="positions-title", id="positions-title">

  <div class="positions-image">
    <div class="container d-flex h-100 justify-content-center">
      <div class="row align-self-center text-center">

        <h1 class="display-3">OPEN POSITIONS</h1>
      </div>
    </div>
  </div>

</section>
