<section class="positions-list", id="positions-list">
  <div class="container">
    <div class="row position-list-header">
      <div class="col-3 offset-2">
        <h4>TITLE</h4>
      </div>
      <div class="col-3">
        <h4>LOCATION</h4>
      </div>
      <div class="col-2">
        <h4></h4>
      </div>
    </div>

    <% @positions.each do |pos| %>
      <div class="row position-row">
        <div class="col-3 offset-2 position_cell">
          <h3><%= pos.title %></h3>
        </div>
        <div class="col-3 position_cell">
          <h3><%= pos.location %></h3>
        </div>
        <div class="col-2 position_cell text-right">
          <h3><%= link_to 'APPLY NOW', pos.application.url, class: 'btn btn-position-submit' %></h3>
        </div>
      </div>
    <% end %>
  </div>

</section>
