<div class="container">
  <div class="row text-center">
    <div class="col-md-6 offset-md-3">
      <h2 class="h2-dark menu-section-title"><%= product_type.humanize.titleize %></h2>
    </div>
  </div>
</div>
