<section class="welcome-about" id="welcome-about">
  <div class="container">
      <div class="row">
        <div class="col-12 col-sm-5">
          <div class="row">
            <%= image_tag('Group 122.png', class: 'd-flex img-fluid squiggly-lines' )%>
            <h2 class="h2-dark">OREGON INSPIRED. OHIO GROWN.</h2>
          </div>
        </div>
        <div class="col-12 col-sm-6 offset-sm-1">
          <div class="row">
            <p>Our purpose is to provide central Ohio with a friendly, delicious and localized breakfast option. By introducing local ingredients to the traditional, old world recipes that helped The Original Pancake House gain national acclaim, we are featuring the distinct flavors of the midwest while offering the menu as it was intended.</p>
          </div>
          <div class="row">
            <%= link_to 'read more >', abouts_path, class:"small-dark-link" %>
          </div>
        </div>
      </div>
  </div>
</section>
