<section class="welcome-about" id="welcome-about">
  <div class="container">
      <div class="row">
        <div class="col-12 col-sm-5">
          <div class="row">
            <%= image_tag('Yellow_Zig_Zags.svg', class: 'd-flex img-fluid squiggly-lines' )%>
            <h2 class="h2-dark">NORTHWEST FLAVORS. MIDWEST HOSPITALITY.</h2>
          </div>
        </div>
        <div class="col-12 col-sm-6 offset-sm-1">
          <div class="row">
            <p>Inspired by the rich, bold and unique flavors of the Pacific Northwest, our menu features fresh, hand selected ingredients from Oregon and surrounding areas ensuring that all of our breakfast options taste delicious year round. Our goal is to serve you the finest pancakes while providing friendly and courteous service.</p>
          </div>
          <div class="row">
            <%= link_to 'read more >', abouts_path, class:"small-dark-link" %>
          </div>
        </div>
      </div>
  </div>
</section>
