<section class="difference" id="difference">
  <div class="container">
    <div class="jumbotron">


    <div class="row">
        <div class="col text-center">
            <h1>THE OPH DIFFERENCE.</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4 col-sm-12 col-12">
          <div class="media">
            <%= image_tag('dark_greyAsset 2@2x.png', class: 'd-flex mr-3 difference-image' )%>
            <div class="media-body">
              <!-- <h5 class="mt-0">Media heading</h5> -->
              <h5>Traditional Receipes</h5>
              <p>This is placeholder text. This is some placeholder text. This is some more placeholder text.</p>
            </div>
          </div>
        </div>
        <div class="col col-md-4 col-sm-12 col-12">
            <div class="media">
              <%= image_tag('dark_greyAsset 2@2x.png', class: 'd-flex mr-3 difference-image' )%>
              <div class="media-body">
                <!-- <h5 class="mt-0">Media heading</h5> -->
                <h5>Local Ingredients</h5>
                <p>This is placeholder text. This is some placeholder text. This is some more placeholder text.</p>
              </div>
            </div>
        </div>
        <div class="col col-md-4 col-sm-12 col-12">
            <div class="media">
              <%= image_tag('dark_greyAsset 2@2x.png', class: 'd-flex mr-3 difference-image' )%>
              <div class="media-body">
                <!-- <h5 class="mt-0">Media heading</h5> -->
                <h5>Family Owned</h5>
                <p>This is placeholder text. This is some placeholder text. This is some more placeholder text.</p>
              </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
