<section class="welcome-difference" id="welcome-difference">
  <div class="container">
    <div class="jumbotron">


    <div class="row">
        <div class="col text-center">
            <h1>THE OPH DIFFERENCE.</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="media difference-media">
            <%= image_tag('iconsAsset 3@2x.png', class: 'd-flex align-self-center mr-3 difference-image' )%>
            <div class="media-body">
              <!-- <h5 class="mt-0">Media heading</h5> -->
              <h5>Old World Recipes</h5>
              <p>Our traditional recipes represent the very best in culinary diversity from around the world.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="media difference-media">
              <%= image_tag('iconsAsset 4@2x.png', class: 'd-flex align-self-center mr-3 difference-image' )%>
              <div class="media-body">
                <!-- <h5 class="mt-0">Media heading</h5> -->
                <h5>Local Ingredients</h5>
                <p>Our local food suppliers will provide you with fresh, flavorful and sustainable food options.</p>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="media difference-media">
              <%= image_tag('iconsAsset 2@2x.png', class: 'd-flex align-self-center mr-3 difference-image' )%>
              <div class="media-body">
                <!-- <h5 class="mt-0">Media heading</h5> -->
                <h5>Family Owned</h5>
                <p>As a family owned restaurant, our goal is to offer a friendly and enjoyable experience for all.</p>
              </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
