<section class="welcome-difference" id="welcome-difference">
  <div class="container-fluid">
    <div class="row">
        <div class="col text-center">
            <h2 class="h2-dark">THE OPH DIFFERENCE.</h1>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
          <div class="media difference-media">
            <%= image_tag('iconsAsset 3@2x.png', class: 'd-flex align-self-center mr-3 difference-image' )%>
            <div class="media-body">
              <!-- <h5 class="mt-0">Media heading</h5> -->
              <h3 class="h3-dark difference-subheading">Old World Recipes</h3>
              <p class="small">Our traditional recipes represent the very best in culinary diversity from around the world.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="media difference-media">
              <%= image_tag('iconsAsset 4@2x.png', class: 'd-flex align-self-center mr-3 difference-image' )%>
              <div class="media-body">
                <!-- <h5 class="mt-0">Media heading</h5> -->
                <h3 class="h3-dark difference-subheading">Local Ingredients</h3>
                <p class="small">Our local food suppliers will provide you with fresh, flavorful and sustainable food options.</p>
              </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
            <div class="media difference-media">
              <%= image_tag('iconsAsset 2@2x.png', class: 'd-flex align-self-center mr-3 difference-image' )%>
              <div class="media-body">
                <!-- <h5 class="mt-0">Media heading</h5> -->
                <h3 class="h3-dark difference-subheading">Family Owned</h3>
                <p class="small">As a family owned restaurant, our goal is to offer a friendly and enjoyable experience for all.</p>
              </div>
            </div>
        </div>
    </div>
  </div>
</section>
