<section class="home", id="home">
  <div class="welcome-overlay container">
    <div class="h1-home">
      <h1 class="home-text">WELCOME TO THE</h1>
      <h1 class="title-text">ORIGINAL PANCAKE HOUSE OF CENTRAL OHIO.</h1>
    </div>
      <%= link_to 'browse menu', menu_path, class:'big-link' %>
  </div>

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="home-image carousel-item active">

      </div>
      <div class="home-image-2 carousel-item">

      </div>
      <div class="home-image-3 carousel-item">

      </div>
      <div class="home-image-4 carousel-item">

      </div>
    </div>

  </div>

  <!-- <div class="home-image">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center text-center">
        <h1 class="h1-home">WELCOME TO THE ORIGINAL PANCAKE HOUSE OF CENTRAL OHIO.</h1>
        <%= link_to 'browse menu', 'menu', class:'big-link' %>
        <br>

      </div>
    </div>
  </div> -->

</section>
