<section class="home", id="home">

  <div class="home-image">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center text-center">
            <!-- <%= image_tag('Group_82.png', class: 'd-flex img-fluid' )%> -->
        <h1 class="h1-home">WELCOME TO THE ORIGINAL PANCAKE HOUSE.</h1>
        <%= link_to 'browse menu', 'menu', class:'big-link' %>
        <br>

      </div>
    </div>
  </div>

</section>
