<section class="home", id="home">

  <div class="home-image">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center text-center">
        <h1 class="display-3">WELCOME TO THE ORIGINAL PANCAKE HOUSE</h1>
      </div>
    </div>
  </div>

</section>
