<section class="home", id="home">

  <div class="home-image">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center text-center">
            <!-- <%= image_tag('Group_82.png', class: 'd-flex img-fluid' )%> -->
        <h1 class="display-3">WELCOME TO THE ORIGINAL PANCAKE HOUSE</h1>
        <h2><%= link_to 'BROWSE MENU', menus_path, class: 'h2 underline' %></h2>
        <!-- <a href="#"><h2 class="underline">BROWSE MENU</h2></a> -->
      </div>
    </div>
  </div>

</section>
