<section class="welcome-locations" id="welcome-locations">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-6 col-lg-3 location-info h-100 align-items-center">
          <div class="card-block">
            <div class="card-section">
              <h4 class="card-title">LOCATION:</h4>
                <p class="card-text">The Original Pancake House</p>
                <p class="card-text">1633 W. Lane Ave.</p>
                <p class="card-text">Upper Arlington, OH 43221</p>
            </div>
            <div class="card-section">
              <h4 class="card-title">HOURS:</h4>
              <p class="card-text">Tuesday - Friday: 8 AM - 2:30 PM</p>
              <p class="card-text">Saturday - Sunday: 7 AM - 4 PM</p>
            </div>
            <div class="card-section">
              <h4 class="card-title">CONTACT:</h4>
              <p class="card-text">Phone: (614) 695-6810</p>
              <p class="card-text">Email: contact@ophcentralohio.com</p>
            </div>
            <div class="card-section">
              <h4 class="card-title">NOWAIT:</h4>
              <a href="https://bnc.lt/nowait-guest-app" target="_blank" class="nowait-link">
                <div class="media nowait-section">
                    <img src="http://images.nowait.com/nowait/wp-content/uploads/2016/02/08164812/rebrand_website_badge_1-12-16.png" width="90px" height="90px" border="0" class="d-flex mr-3" >
                  <div class="media-body">
                    <span class="nowait-body">Avoid waiting in line at OPH. Download the app and skip waiting today!</span>
                  </div>
                </div>
              </a>

            </div>
          </div>
        </div>
      <br>
      <div class="col-12 col-md-6 col-lg-9 location-map">
        <div id="map"></div>
      </div>
    </div>
  </div>
</section>
