<section class="welcome-menu" id="welcome-menu">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="welcome-menu-item">
          <%= link_to image_tag('joseph-gonzalez-111633.jpg', class: 'img-fluid rounded welcome-menu-item-image' ), '#'%>
          <div class="caption">
            <p class="text-uppercase">Strawberry Pancakes</p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-4">
        <div class="welcome-menu-item">
          <%= image_tag('joseph-gonzalez-176750.jpg', class: 'img-fluid rounded welcome-menu-item-image' )%>
          <div class="caption">
            <p class="text-uppercase">Chocolate Chip Pancakes</p>
          </div>
        </div>

      </div>
      <div class="col-12 col-md-4">
        <div class="welcome-menu-item">
          <%= image_tag('joseph-gonzalez-192345.jpg', class: 'img-fluid rounded welcome-menu-item-image' )%>
          <div class="caption">
            <p class="text-uppercase">Fresh Fruit Crepes</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
