<nav class="navbar navbar-toggleable fixed-top bg-transparent py-3">
    <%= image_tag('Group 32.png', class: 'navbar-brand img-fluid') %>

  <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
  </button> -->

  <button class="navbar-toggler navbar-toggler-right" type="button">
    <div id="main">
      <span class="sidebar-button" onclick="openNav()">Menu <i class="fa fa-bars"></i></span>
    </div>
  </button>


  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="#">MENU</a>
    <a href="#">ABOUT</a>
    <a href="#">CONTACT</a>
    <a href="#">CAREERS</a>
    <a href="#">REVIEWS</a>

  </div>



</nav>
