<section class="welcome-pancakes" id="welcome-pancakes">
  <div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="row">
            <%= image_tag('Group 122.png', class: 'd-flex img-fluid squiggly-lines' )%>
          </div>
          <br>
          <div class="row">
            <h1>PANCAKES AS YOU</h1>
            <h1>LIKE THEM.</h1>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="row">
            <p>We are committed to preparing delicious and quality dishes that you will love. By focus on local ingredients and reputable brands, we are confident that you’ll taste the difference. to ensure this, we’ve partnered with Central Ohio’s Mid/West Fresh Foods to supply our fruits, veggies, produce, dairy and herbs.</p>
          </div>
          <div class="row">
            <p>READ MORE  ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
