<section class="welcome-reviews" id="welcome-reviews">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center text-center">
      <p class="individual-review">“We chose the area due to its steady economic growth, friendly small city feel and the community’s big appetite for breakfast places.”</p>
      <br>
      <p class="individual-reviewer">- RUBEN GUZMAN, Owner</p>
    </div>
  </div>
</section>
