<section class="welcome-reviews" id="welcome-reviews">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center text-center">
      <h2 class="h2-dark">“We chose the area due to its steady economic growth, friendly small city feel and the community’s big appetite for breakfast places.”</h2>
      <br>
      <%= image_tag('Group_244.svg', class: 'd-flex img-fluid ruben-review' )%>
    </div>
  </div>
</section>
