<section class="welcome-traditional" id="welcome-traditional">
  <div class="traditional-image">
    <div class="container-fluid d-flex h-100 traditional-container">
      <div class="row">
        <div class="align-self-center text-center">
          <div class="col">
            <%= image_tag('1953 Icon.svg', class: 'd-flex mr-3 est-image img-fluid mx-auto d-block' )%>
            <br>
            <h2 class="h2-light">OLD WORLD & </h2>
            <h2 class="h2-light old-world-bottom">HANDCRAFTED RECIPES.</h2>
              <%= link_to 'browse menu', menus_path, class:'big-link' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
