<section class="traditional" id="traditional">
  <div class="traditional-image">
    <div class="container-fluid d-flex h-100 traditional-container">
      <div class="row">
        <div class="align-self-center text-center">
          <div class="col">
            <%= image_tag('Group 55@2x.png', class: 'd-flex mr-3 est-image img-fluid mx-auto d-block' )%>
            <br>
            <h1>TRADITIONAL & </h1>
            <h1>HANDCRAFTED RECEIPES.</h1>
            <p>SEE MENU.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
