<section class="contact-body" id="contact-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
          <!-- <div class="card-block">
            <h4 class="card-title">LOCATION:</h4>
            <a href='#'>
              <p class="card-text">The Original Pancake House</p>
              <p class="card-text">1633 West Lane Ave.</p>
              <p class="card-text">Upper Arlington, OH 43221</p>
            </a>
            <br>
            <h4 class="card-title">HOURS:</h4>
            <p>Monday - Friday: 8 AM - 2 PM</p>
            <p>Saturday - Sunday: 7 AM - 2 PM</p>
            <br>
            <h4 class="card-title">CONTACT:</h4>
            <p>Phone: (614) 111-2222</p>
            <p>Email: contact@ophohio.com</p>
            <br>
          </div> -->
          <div class="container contact-location-box text-center">
            <div class="row">
              <div class="contact-section col-12 col-sm-6 col-md-12">
                <h4 class="contact-title">LOCATION</h4>
                <%= link_to '#', target: :_blank do %>
                  <p class="contact-text">The Original Pancake House</p>
                  <p class="contact-text">1675 W. Lane Ave.</p>
                  <p class="contact-text">Upper Arlington, OH 43221</p>
                <% end %>
              </div>
              <div class="contact-section col-12 col-sm-6 col-md-12">
                <h4 class="contact-title">HOURS</h4>
                  <p class="contact-text">Monday - Friday: 8 AM - 2 PM</p>
                  <p class="contact-text">Saturday - Sunday: 7 AM - 4 PM</p>
              </div>
              <div class="contact-section col-12 col-sm-6 col-md-12">
                <h4 class="contact-title">CONTACT</h4>
                  <p class="contact-text">Phone: (614) 695-6810</p>
                  <p class="contact-text">Email: <a href="mailto:contact@ophcentralohio.com" class="email-address">contact@ophcentralohio.com</a></p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <div class="container contact-question-box">
          <h1 class="text-center">HAVE A QUESTION FOR US?</h1>
          <p class="text-center">Fill out the form and we'll get in touch with you shortly!</p>
            <%= render 'comments/new' %>
        </div>

      </div>
    </div>
  </div>
</section>
