<section class="contact-body" id="contact-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
          <div class="container card-block text-center">
            <div class="row">
              <div class="card-section col-12 col-sm-6 col-md-12">
                <h4 class="card-title">LOCATION:</h4>
                <%= link_to '#', target: :_blank do %>
                  <p class="card-text">The Original Pancake House</p>
                  <p class="card-text">1633 W. Lane Ave.</p>
                  <p class="card-text">Upper Arlington, OH 43221</p>
                <% end %>
              </div>
              <div class="card-section col-12 col-sm-6 col-md-12">
                <h4 class="card-title">HOURS:</h4>
                  <p class="card-text">Tuesday - Friday: 7 AM - 2:30 PM</p>
                  <p class="card-text">Saturday - Sunday: 7 AM - 4 PM</p>
              </div>
              <div class="card-section col-12 col-sm-6 col-md-12">
                <h4 class="card-title">CONTACT:</h4>
                  <p class="card-text">Phone: (614) 695-6810</p>
                  <p class="card-text">Email: <a href="mailto:contact@ophcentralohio.com" class="email-address">contact@ophcentralohio.com</a></p>
              </div>
            </div>
          </div>
      </div>
      <div class="col-12 col-md-6 col-lg-8 col-xl-6">
        <div class="container contact-question-box text-center">
          <h2 class="h2-dark">HAVE A QUESTION FOR US?</h1>
          <p class="text-center">Fill out the form and we'll get in touch with you shortly!</p>
            <%= render 'comments/new' %>
        </div>

      </div>
    </div>
  </div>
</section>
