<section class="contact-title", id="contact-title">

  <div class="contact-image">
    <div class="container d-flex h-100 justify-content-center">
      <div class="row align-self-center text-center">

        <h1 class="title-text">CONTACT US</h1>
      </div>
    </div>
  </div>

</section>
