<section class="about-section", id="about-section">
  <div class="container letter-container">
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Dear Columbus,</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>My name is Ruben Guzman and along with my wife, Patty, we own the new Original Pancake House in Upper Arlington.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>And we don’t just work here. Upper Arlington is our home too. We live a few blocks away and our daughter is enrolled at nearby Jones Middle School. Go Golden Bears!</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Our entire family shares an impassioned appreciation of the culinary arts, which is why we fell in love with The Original Pancake House. This is a brand that does things the right way – choice ingredients, handcrafted recipes and hospitable service. No detail seems too small.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>However, it’s one thing to love a restaurant, but it’s entirely different to open your own. Which is why you need a great partner, and I have one in my wife. This became possible because of her.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>While we were living in the Republic of Panama, Patty noticed a great void of quality and unique breakfast options and suggested we do something about it.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Having spent nearly 20 years as a franchisee for the Dublin, OH based Wendy’s, I was familiar with the restaurant industry and decided to contact Jon Liss, a decision marker for the OPH brand at that time to discuss our options.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Over time, we developed a great personal friendship with Jon and we knew that we wanted to be a part of the OPH family. We entertained the idea of bringing the OPH franchise to Panama, but decided to take a chance and return to the United States to begin this new venture in central Ohio.</p>
      </div>
    </div>
    <div class="col-md-4 offset-md-4 col-6 offset-3">
      <p class="about-line"></p>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>On November 15, 2015, we signed a development agreement with The Original Pancake House and life hasn’t slowed down since.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Our new restaurant in Upper Arlington is absolutely beautiful. It was custom designed by Bass Studio Architects, who did an outstanding job of helping make our vision a reality.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Even while being thousands of miles away in Panama, our partners held regular video conferences to make sure that input from all three of our family members was heard throughout the design and building process. We couldn’t be more proud of our fresh, contemporary and cozy place.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>And now, years later, our dream is finally realized. As of June, 29, 2017, our doors are open and we couldn’t be more excited to welcome you all in.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>We now have a new goal in mind. We want to become your favorite restaurant. By serving unique and delicious food while providing outstanding service, we promise to offer a wholesome and memorable breakfast experience.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>All that’s left is for you to come taste the Goodness of the Original Pancake House for yourself!.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>We hope to see you soon.</p>
      </div>
    </div>
    <div class="row letter-paragraph">
      <div class="col-12">
        <p>Sincerely,</p>
        <p>Ruben and Patty Guzman</p>
      </div>
    </div>

  </div>

</section>
