<section class="about-section", id="about-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <p>In 1953, The Original Pancake House was founded in Portland. The unique menu, which featured and traditional recipes from around the world, immediately gained national acclaim. Today, we pay homage to the original by offering you the menu as it was intended and serving pancakes as you like them.</p>
      </div>
      <div class="col-md-2 offset-md-5 col-6 offset-3">
        <p class="about-line"></p>
      </div>
      <div class="col-12">
        <p>In 1953, The Original Pancake House was founded in Portland. The unique menu, which featured and traditional recipes from around the world, immediately gained national acclaim. Today, we pay homage to the original by offering you the menu as it was intended and serving pancakes as you like them.</p>
    </div>
  </div>


</section>
