<section class="about-title", id="about-title">

  <div class="about-image">
    <div class="container d-flex h-100 justify-content-center">
      <div class="row align-self-center text-center">
        <h1 class="display-3">OUR STORY</h1>
      </div>
    </div>
  </div>

</section>
