<section class="about-section", id="about-section">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <p>The Original Pancake House in Upper Arlington is owned by Ruben and Patty Guzman. We live just a few blocks away from the store and our daughter Michelle has been enrolled at Jones Middle School in Upper Arlington.</p>
      </div>
      <div class="col-md-2 offset-md-5 col-6 offset-3">
        <p class="about-line"></p>
      </div>
      <div class="col-12">
        <p>The Guzman Family all share a “fanatical passion“ for the OPH’s breakfast. Our idea for becoming a Franchisee was suggested by Patty while the family was residing in the Republic of Panama. She noticed a great void for a quality and unique breakfast place there.  After spending nearly 20 years as Franchisee for Dublin, OH based Wendy’s, Ruben decided to contact Jon Liss, then decision maker for the OPH Brand at the time. In time, a relationship of mutual respect and friendship developed. After toying with the idea of bringing OPH to Panama, the idea was discarded in favor of returning to the States and “staking the claim” for breakfast in Upper Arlington, Ohio. On November 20, 2015, a development agreement was signed for the exclusive rights of Central Ohio.</p>
      </div>
      <div class="col-md-2 offset-md-5 col-6 offset-3">
        <p class="about-line"></p>
      </div>
      <div class="col-12">
        <p>The store in Upper Arlington was designed from scratch by Bass Studio Architects, who worked very closely with us to realize our vision.  Even while commuting from/to Panama, many “Go to" meetings were held to make sure that input from all three Guzman Family members was taken into account.  The idea was to create a fresh, contemporary, cozy and beautiful place which represented the food we are serving.</p>
      </div>
      <div class="col-md-2 offset-md-5 col-6 offset-3">
        <p class="about-line"></p>
      </div>
      <div class="col-12">
        <p>On June 29th, 2017 we opened the doors and established our “home base” in Upper Arlington, Ohio.  It is our goal to become the restaurant of choice of every residents and visitors alike, by providing them with a wholesome, tasty, unique and memory making breakfast experience.  Come and taste the goodness of The Original Pancake House soon!!!</p>
      </div>
      <div class="col-md-2 offset-md-5 col-6 offset-3">
        <p class="about-line"></p>
      </div>

  </div>


</section>
