/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

  @import "normalize-rails/normalize";
  @import "bootstrap";
  @import "font-awesome";
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,800);

$primary_yellow: #D5B65C;
$primary_black: #2D2D2F;
$primary_gray: #6B6B6B;
$primary_white: #FFFFFF;


body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
}

#home {
  .home-image {
      background: image-url("old-man-making-healthy-crepes-in-open-air-market-picjumbo-com.jpg") center center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 80vh;
      color: $primary_yellow
  }

  .home-text-area {
    background-color: transparent;
  }

  .home-row {
    margin: auto;
  }

}

#difference {

  .jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: transparent;
  }

  .difference-image {
    height: 50px;
  }

}

#traditional {
  .traditional-image {
    background: image-url("making-waffles-cutting-them-into-pieces-picjumbo-com.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    color: $primary_yellow
  }
  .traditional-container {
    padding-left: 50px;
  }

  .est-image {
    height: 75px;
  }

}

#about {
  .jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: transparent;
  }

  .squiggly-lines {
    height: 25px;
  }

}

#locations {

  #map {
        width: 100%;
        height: 100%;
        background-color: grey;
      }
}
