// Place all the styles related to the positions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#positions-title {
  .positions-image {
        background: image-url("The-Original-Pancake-House_careers.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50vh;
    }

    h1 {
      font-size: 72px;
      letter-spacing: 1.5px;
      font-weight: 800;
      line-height: 150%;
      color: $primary_yellow;
    }

    @media screen and (max-width: 768px) {
      .title-text {
          font-size: 42px;
          letter-spacing: 1.5px;
          font-weight: 600;
          line-height: 150%;
          color: $primary_yellow;
          position: relative;
        }
    }
}

#positions-body {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;

  p {
    color: $primary_gray;
    font-size: 24px;
    line-height: 48px;
    font-weight: 400;
  }

  @media screen and (max-width: 768px) {
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 25px;
      margin-right: 25px;

      p {
        color: $primary_gray;
        font-size: 18px;
        line-height: 48px;
        font-weight: 400;
      }
  }

  .positions-list-area {
    padding-top: 25px;
  }

  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;



}

#positions-list {

  .position-list-header h4 {
    color: $primary_gray;
  }

  .position-row h4 {
    font-size: 28px;
  }

  @media screen and (max-width: 768px) {
    .position-row h4 {
      font-size: 16px;
    }
  }

  .position_cell {
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: .5px solid $primary_gray;
  }

  .btn-position-submit {
    background-color: $primary_yellow;
    color: $primary_black;
    border-color: $primary_yellow;
    border-radius: 3px;
  }

  .btn-position-submit:hover {
    background-color: $primary_black;
    color: $primary_white;
    border-color: $primary_black;
    border-radius: 3px;
  }

  @media screen and (max-width: 768px) {
    .btn-position-submit {
      font-size: 12px;
      font-weight: 700;
    }

  }

  padding-bottom: 50px;
}
