// Place all the styles related to the Reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#reviews-title {
  .reviews-image {
        background: image-url("The-Original-Pancake-House_Reviews.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 50vh;
    }

    h1 {
      font-size: 72px;
      font-weight: 800;
      line-height: 150%;
      color: $primary_yellow;
    }

    @media screen and (max-width: 768px) {
      .title-text {
          font-size: 42px;
          letter-spacing: 5px;
          font-weight: 600;
          line-height: 150%;
          color: $primary_yellow;
          position: relative;
        }
    }
}



#reviews-list {

  .reviews-container {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .review-row {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .review-cell {

    padding-bottom: 25px;
    border-bottom: .5px solid $primary_gray;
  }

  .review-name {
    color: $primary_gray;
    font-size: 18px;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .review-name:hover {
    color: $primary_yellow;
    transition: 0.3s;
    text-decoration: none;
  }


  @media screen and (max-width: 768px) {

   h3.review-body {
        font-size: 18px;
      }
  }
}
