// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions-title {
  .sessions-image {
        background: image-url("The-Original-Pancake-House_Reviews.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 30vh;
    }

    h1 {
      font-size: 72px;
      font-weight: 800;
      line-height: 150%;
      color: $primary_white;
    }

    @media screen and (max-width: 768px) {
      .title-text {
          font-size: 42px;
          letter-spacing: 5px;
          font-weight: 600;
          line-height: 150%;
          color: $primary_yellow;
          position: relative;
        }
    }
}
