// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions-title {
  .sessions-image {
        background-color: $primary_gray;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 30vh;
    }

    h1 {
      font-size: 72px;
      font-weight: 800;
      line-height: 150%;
      color: $primary_white;
    }

    @media screen and (max-width: 768px) {
      .title-text {
          font-size: 42px;
          letter-spacing: 5px;
          font-weight: 600;
          line-height: 150%;
          color: $primary_white;
          position: relative;
        }
    }

}


.log-in-box .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-log-in {
  background-color: $primary_black;
  color: $primary_white;
  border-color: $primary_black;
  border-radius: 3px;
}

.btn-log-in:hover {
  background-color: $primary_white;
  color: $primary_yellow;
  border-color: $primary_yellow;
  border-radius: 3px;
}

.form-control {
  border-color: $primary_black;
  margin-top: 10px;
  margin-bottom: 10px;
}

.form-control:focus {
  border-color: $primary_yellow;
  transition: 0.3s;
}
