// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#home {

  .home-image {
        background: image-url("The-Original-Pancake-House_background.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        z-index: -1;
    }

  .home-image-2 {
        background: image-url("apple-pancake-2.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        z-index: -1;
    }

  .home-image-3 {
        background: image-url("The-Original-Pancake-House_About.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        z-index: -1;
    }
  .home-image-4 {
        background: image-url("The-Original-Pancake-House_contact.jpg") center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 80vh;
        z-index: -1;
    }

    .h1-home {
      margin-bottom: 50px;
    }


    .home-name {
      line-height: 1.5;
      letter-spacing: 5px;
    }

    .home-text {
      color: $primary_yellow;
      line-height: 1;
      font-size: 28px;
    	font-weight: normal;
    	letter-spacing: 5px;
    }


  .welcome-overlay {
    position:absolute;
    z-index:1;
    left:0;
    width:100%;
    top: 40%;
    transform: translateY(-50%);
    text-align:center;
  }

  @media screen and (max-width: 1200px) {
    .home-name {
      font-size: 58px;
      font-weight: 800;
    }
    .home-text {
      font-size: 38px;
      font-weight: 500;
    }

    .h1-home {
      margin-bottom: 50px;
    }

  }


  @media screen and (max-width: 768px) {
    .home-name {
      font-size: 42px;
      font-weight: 700;
    }
    .home-text {
      font-size: 24px;
      font-weight: 500;
    }

    .h1-home {
      margin-bottom: 50px;
    }
  }



}

#welcome-difference {
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;

  .difference-image {
    height: 100px;
  }

  .difference-media {
    margin: 25px;
  }

  .difference-subheading {
    letter-spacing: normal;
    font-weight: 400px;
    font-size: 18px;

  }



  @media screen and (max-width: 1200px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 15px;
    padding-right: 15px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;

    .difference-media {
      margin: 15px;
    }
  }




}

#welcome-traditional {
  .traditional-image {
    background: image-url("The-Original-Pancake-House_Traditional_Recipes.jpg") center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60vh;
    color: $primary_yellow;
  }

  .traditional-container {
    padding-left: 50px;
  }

  .est-image {
    height: 75px;
  }

  .old-world-bottom {
    margin-bottom: 25px;
  }

}

#welcome-about {
  margin-top: 100px;
  margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin: 50px;
    }

  .squiggly-lines {
    height: 25px;
  }

}

#welcome-locations {
  .location-info {
    margin-right: -10px;
    -webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.30);
    -moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.30);
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.30);
    z-index: 1;
  }

  .location-map {
      z-index: -1;
  }

  .card-block {
    padding-top: 70px;
  }

  .card-block .card-section {
    margin-bottom: 50px;
    text-align: left;

    @media screen and (max-width: 768px) {
      text-align: center;
    }

  }

  .card-block .card-title {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 25px;
  }



  .card-block .card-text {
    line-height: 1;
  }

  .nowait-header {
    color: $primary_black;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2.5px;
    margin-bottom: 25px;
  }
  .nowait-body {
    color: $primary_gray;
  }
  @media screen and (max-width: 768px) {
    .nowait-section {
      text-align: left;
      margin-left: 100px;
      margin-right: 100px;
    }
  }

  @media screen and (max-width: 544px) {
    .nowait-section {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  .nowait-body:hover {
    transition: 0.3s;
    text-decoration: none;
    color: $primary_yellow;
  }

  .nowait-link:hover {
    transition: 0.3s;
    text-decoration: none;
    color: $primary_yellow;
  }



  #map {
        width: 100%;
        height: 100%;
    }

  @media screen and (max-width: 768px) {
    #map {
          width: 100%;
          height: 50vh;
      }
  }
}




#welcome-pancakes {
  margin-top: 100px;
  margin-bottom: 100px;

    @media screen and (max-width: 768px) {
      margin: 50px;

    }

  .squiggly-lines {
    height: 25px;
  }

}


#welcome-menu {
  margin-top: 50px;
  margin-bottom: 50px;

  .welcome-menu-item {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
    position: relative;

  }


  .caption {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 100%;
    color: $primary_white;
  }
}

#welcome-reviews {

  height: 50vh;
  padding: 50px;

  .h2-dark {
    font-weight: 400;
  }

  .ruben-review {
    margin: 50px;
  }

  @media screen and (max-width: 768px) {
    height: 75vh;
    padding: 25px;

    .ruben-review {
      margin: 25px;
    }
  }


}




////////// Carousel Example
