<section class="products-title", id="products-title">

  <div class="products-image">
    <div class="container d-flex h-100 justify-content-center">
      <div class="row align-self-center text-center">

        <h1 class="title-text">New Products</h1>
      </div>
    </div>
  </div>

</section>
