<section class="reviews-list" id="reviews-list">
  <div class="container reviews-container">
    <% @reviews.each do |review| %>
      <div class="row review-row text-center">
          <div class="col-md-8 offset-md-2 col-12 review-cell">
            <h3 class="review-body">"<%= review.body %>"</h3>
            <br>
            <%= link_to "- #{ review.first_name.upcase } #{ review.last_name.first.upcase }", review.review_url, class:'review-name', target: '_blank' %>
          </div>
      </div>
    <% end %>
  </div>
</section>
