<hr>
<!-- <section class="welcome-footer" id="welcome-footer">
    <div class="d-flex flex-row justify-content-between hidden-md-down">
      <div class="ml-5 mb-3">
        <p class="footer-p">The Original Pancake House</p>
        <p class="footer-p">1633 West Lane Ave.</p>
        <p class="footer-p">Upper Arlington, OH 43215</p>
      </div>
      <div class="row social-buttons text-center">
          <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="#" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a>
          <a href="#" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
      </div>
      <div class="mr-5 mb-3">
        <p class="footer-p">(614) 111-2222</p>
        <p class="footer-p">contact@ophcentralohio.com</p>
        <p class="footer-p">www.ophcentralohio.com</p>
      </div>
    </div>
</section> -->
<section class="welcome-footer hidden-xs" id="welcome-footer">
    <div class="container-fluid">
      <div class="row justify-content-between  text-center">
        <div class="col-md-4 col-sm-12">
          <p class="footer-p">The Original Pancake House</p>
          <p class="footer-p">1675 W. Lane Ave.</p>
          <p class="footer-p">Upper Arlington, OH 43215</p>
        </div>

        <div class="col-md-4 col-sm-12 social-buttons">
          <div class="row justify-content-center">
            <a href="#" target="_blank"><i class="fa fa-facebook" target="_blank"></i></a>
            <a href="#" target="_blank"><i class="fa fa-linkedin" target="_blank"></i></a>
            <a href="#" target="_blank"><i class="fa fa-twitter" target="_blank"></i></a>
          </div>

        </div>

        <div class="col-md-4 col-sm-12">
          <p class="footer-p">(614) 111-2222</p>
          <p class="footer-p"><a href="mailto:contact@ophcentralohio.com" class="email-address">contact@ophcentralohio.com</a></p>
          <p class="footer-p">www.ophcentralohio.com</p>
        </div>
      </div>

    </div>
</section>
